body {
    margin: 0;
    font-family:  monospace;
}

#monster-header {
    display: flex;
    justify-content: center;
    background:#c5afa5;
    opacity: 1;
    height: 10rem;
    padding: 1rem;
}

#monster-header img {
    height: auto;
    width: auto;
}

#monster-collection {
    margin: 3rem;
}

.card {
    text-align: center;
    border: black 2px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px black;
}

.monster-avatar {
    justify-self: center;
    height: 12rem;
    width: auto;
}

button {
    position: relative;
    background-color: #627ba4;
    border: #b9c8d1 2px;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: #627ba4;
    font-size: 15px;
    justify-self: center;
}

button:hover {
    background-color: #601aa9;
    border: #601aa9;
    color: #601aa9;
}

.container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #f1ecf3;
}

.add-monster-form {
    width: 80%;
}

.submit {
    position: relative;
    background-color: #777777;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: #777777;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
}

.submit:hover {
    background-color: #601aa9;
    border: #601aa9 solid 1px;
    color: #601aa9;
  }

.input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
}